backend/docs/*
frontend/src/routeTree.gen.ts
*.openapi.json
backend/**/*.openapi.json
frontend/src/lib/api/types.ts
backend/restapi-macroservice/client_secret_1036653645187-s72itv6bf1shscb5tumm8cv2fvnr790b.apps.googleusercontent.com.json

client_secret_1036653645187-s72itv6bf1shscb5tumm8cv2fvnr790b.apps.googleusercontent.com.json
